.DS_Store
.idea/

# Byte compiled
./scqubits/io_utils/__pycache__
./scqubits/utils/__pycache__
./scqubits/core/__pycache__
./scqubits/ui/__pycache__
./scqubits/__pycache__
*.py[cod]

# Packages
*.egg
*.egg-info

*.pdf


/scqubits/.ipynb_checkpoints/
/scqubits/version.py
/scqubits.egg-info/
/build/
/dist/
/sc_qubits.egg-info/
/scqubits/tests/_tempdata/
/scqubits/core/hspace.py
/scratch/

/.vscode/
/.pytest_cache/
/.coverage
/.ipynb_checkpoints/
/.pytest_cache/
/example/
scqubits/ui/test.ipynb
scqubits/ui/.ipynb_checkpoints/test-checkpoint.ipynb
