.DS_Store
.idea/

# Packages
*.egg
*.egg-info

/sc_qubits/tests/_data/
/docs/build/
/examples/.ipynb_checkpoints/
/docs/source/guide/ipynb/.ipynb_checkpoints/
/sc_qubits/.ipynb_checkpoints/
/sc_qubits/version.py
/sc_qubits.egg-info/
/build/
/dist/
