.DS_Store
.idea/

# Packages
*.egg
*.egg-info

*.pdf

/docs/build/
/examples/.ipynb_checkpoints/
/docs/source/guide/ipynb/.ipynb_checkpoints/
/scqubits/.ipynb_checkpoints/
/scqubits/version.py
/scqubits.egg-info/
/build/
/dist/
/sc_qubits.egg-info/
/scqubits/tests/_tempdata/
/scqubits/core/hspace.py
/scratch/

scqubits/tests/explorer_run.py
/examples/demo_hilbertspace-DEBUG.ipynb
