name: scqubits pytests using Conda environment

on: [push]

jobs:
  build-linux:
    name: scqubits (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.7", "3.8", "3.9"]
    steps:
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        shell: bash -l {0}
        run: conda install --file requirements.txt
      - name: Lint with flake8
        shell: bash -l {0}
        run: |
          conda install flake8
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Attempt scqubits import
        shell: bash -l {0}
        run: python -c 'import scqubits'
      - name: Install optional dependencies
        run: conda install --file optional-requirements.txt
      - name: Test with pytest
        run: pytest