name: Python Package using Conda

on: [push]

jobs:
  build-all:
    name: scqubits testing (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: [3.7, 3.8, 3.9]
    steps:
      - uses: conda-incubator/setup-miniconda@v2
        with:
            auto-update-conda: true
            python-version: ${{ matrix.python-version }}
      - name: conda info
        shell: bash -el {0}
        run: conda info
      - name: Add conda to system path
        run: |
          # $CONDA is an environment variable pointing to the root of the miniconda directory
          echo $CONDA/bin >> $GITHUB_PATH
      - name: Install dependencies
        run: |
          # conda env update --file environment.yml --name base
          conda install --file requirements.txt -c conda-forge
      - name: Lint with flake8
        run: |
          conda install flake8
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Install optional dependencies
        run: |
          conda install --file optional-requirements.txt -c conda-forge
          # The following is a temporary workaround for h5py hdf5 incompatibilities under conda install
          conda remove h5py
          pip install h5py
      - name: Attempt scqubits import
        run: python -c 'import scqubits'
      - name: Run all pytests (serial)
        run: |
          pytest -v --pyargs scqubits
      - name: Run all pytests (multiprocessing)
        run: |
          pytest -v --pyargs scqubits --num_cpus=4